*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    
}
body{
    background-image:url("jason-mavrommatis-RBvi9ROrQuM-unsplash.jpg");
    background-size:cover;
    background-position:center;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-repeat:no-repeat;
    
   
}
.container{
    background:rgba(6, 71, 48, 0.53);
    
    height:80%;
    width:80%;
    position: relative;
    border-radius:25px;
    padding:25px 20px;
    

}
nav{
    display:flex;
    
    justify-content:space-between;
    align-items:center;
   margin:auto;
   padding:20px;
    
   


}
nav .logo{
    color:white;
    text-decoration:none;
    font-size:32px;
    text-transform:uppercase;
    letter-spacing:3.5px;
    font-weight:700;
    margin:0px 30px;
     
}
 nav ul{
    background:rgb(0, 0, 0);
    padding:5px 30px;
    border:15px solid;
    border-radius: 45px;


}

nav ul li{
    
           display:inline-block;
           margin:1px 20px;
           padding:10px;
           transition: 0.4s;
           border-radius: 45px;
           
}
nav ul li:hover{
    background:rgb(34, 237, 179);
    
    
    
}

nav ul li a{
    text-decoration:none;
    color:white;
    padding:10px;
    border-radius: 45px;
    
}

  .content{
     
    display:flex;
    justify-content:space-between;
    color:rgb(255, 255, 255);
    align-items: center;
  }
.text{
  margin:50px;
}

.text p{
    font-size: 15px;
}
.text h2{
    font-size:50px;
}
.imge{ 
    padding:20px 40px;

}

.container img{
    border: 2px solid white;
    width:500px;
    margin:1px 20px;
    background: rgba(0, 0, 0, 0.284);
    border-radius: 500px 0px;
   padding:70px 70px;
   transition: 0.4s;
   

   
}
 .imge img:hover{
    width:1000;

}
.photo{
   display:flex;
   position:absolute;
   gap:3px;
   top:700px;
   left:370px;
   
   border-radius: 25px;
    
    

}
.photo img{
    height:300px;
width:150px;
object-fit: cover;
 margin-top:0px;
 border-radius: 25px 40px;
 transition:.3s;


}
.photo img:hover{
    width:300px;
    
}

footer
{display:flex;
       
       align-items:center;
       justify-content: space-evenly;
       width:100%;
       background:rgba(0, 0, 0, 0.459);
       position:fixed;
       bottom:0;
       left:0;
       padding:10px 20px ;
}
.conect{
    margin:5px;

   
}
.contect ul{
    display:flex;

}
footer ul li{
 display:inline-block;
 margin:2px 3px;
 

}
footer ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding:25x;
    width:8px;
   
}

.icon1{
    color:rgb(42, 69, 248);
    
    
}
.icon2{
    color:rgb(255, 255, 255);
}
.icon3{
    color:rgb(0, 199, 83);
}

@media (min-width: 950px) and (max-width: 1150px){
    .container{ background:rgba(190, 0, 0, 0.456);}
    .container .imge img{ 
        width:300px;
        margin:30px -70px
    }
   @media (max-width: 950px) 
    {
    .container{ background:blueviolet;  }
    .content {flex-direction: column;}

    }

}



